@import "variables.sass"
// creer le template grid body
$list-body: nav header "#actu" form footer

@mixin body-grid

// Pour chaque item de la list des attributs sont donnés à la classe ou à la balise via la condition if  
@each $i in $list-body
  @if ($i == nav)
    #grid>#{$i}
      grid-area: nav
  @if ($i == header)
    #grid>#{$i}
      grid-area: head
  @if ($i == "#actu")
    #grid>#{$i}
      grid-area: actu
  @if ($i == form)
    #grid>#{$i}
      grid-area: form
  @if ($i == footer)
    #grid>#{$i}
      grid-area: foot
  @else

// creer le grid
#grid
  display: grid
  width: 100%
  height: auto
  grid-template-columns: 20% 20% 10% 10% 20% 20%
  grid-row-gap: 5px
  grid-template-rows: auto
  grid-template-areas: "nav nav nav nav nav nav" "head head head head head head" "actu actu actu actu actu actu" "form form form form form form" "foot foot foot foot foot foot"
