@import "variables.sass"

@mixin nav-grid
    display: grid
    width: 100%
    height: auto
    grid-template-columns: 5% 20% 20% 10% 20% 20% 5%
    grid-template-rows: 7vh
    grid-template-areas: ". nav-logo t-nav . ul-nav nav-btn ."
