@import "variables.sass"
// creer le template grid nav
$list-nav: ".row" ".item" img h1 ul

@mixin nav-grid

// Pour chaque item de la list des attributs sont donnés à la classe ou à la balise via la condition if
@each $i in $list-nav
    @if ($i == ".row")
        #{$i}
            display: flex
            flex-direction: row
            align-items: center
    @else if ($i == ".item")
        #{$i}
            padding: 5px
            margin: 5px
    @else if ($i == img)
        nav>#{$i}
            width: 100%
            height: auto
            grid-area: nav-logo
    @else if ($i == h1)
        nav>#{$i}
            grid-area: t-nav
    @else if ($i == ul)
        nav>#{$i}
            grid-area: ul-nav

// creer le grid    
#grid>nav
    display: grid
    width: 100%
    height: auto
    grid-template-columns: 5% 10% 10% 20% 20% 20% 10% 5%
    grid-template-rows: auto
    grid-template-areas: ". nav-logo t-nav . . ul-nav nav-btn ."

// creer le bouton nav    
.btn-nav
    align-items: center
    width: 15vh
    height: 10vh
    padding: 10px
    margin: 10px
    border-radius: 10px
    border: solid 2px $blue
    grid-area: nav-btn

    &:hover
    background-color: $bg-btn
    border-radius: 10px

    &:active
    border-radius: 10px
    color: $white
    background-color: $black
