//******************************
//  Site Sass
//  Created: Wil 
//******************************

// Import les fichiers ci-dessous
@import "variables.sass"
@import "bg-br-txt"

// creer background image"
.bg-head
  width: 100%
  height: auto
  background-image: url(../images/header.jpeg)
  background-position: center
  background-size: cover

@import "body.sass"
@import "nav.sass"
@import "header.sass"
@import "actu.sass"
@import "footer.sass"
