$primary-color: rgb(25, 44, 214)
$secondary-color: rgb(194, 1, 1)
$primary-font: (arial, sans-serif)

$bg-btn: #d2d0dd
$blue: rgb(0,0,255)
$green : rgb(0,128,0)
$red: rgb(255,0,0)
$yellow: rgb(255,255,0)
$purple :rgb(128,0,128)
$cyan:rgb(0,255,255)
$pink:rgb(255,192,203)
$white:rgb(255,255,255)
$rosybrown:rgb(188,143,143)
$black: rgb(0,0,0)

