.txt-blue {
  color: blue; }

.txt-green {
  color: green; }

.txt-red {
  color: red; }

.txt-yellow {
  color: yellow; }

.txt-purple {
  color: purple; }

.txt-cyan {
  color: cyan; }

.txt-pink {
  color: pink; }

.txt-white {
  color: white; }

.br-blue {
  border: solid 2px blue; }

.br-green {
  border: solid 2px green; }

.br-red {
  border: solid 2px red; }

.br-yellow {
  border: solid 2px yellow; }

.br-purple {
  border: solid 2px purple; }

.br-cyan {
  border: solid 2px cyan; }

.br-pink {
  border: solid 2px pink; }

.br-white {
  border: solid 2px white; }

.bg-blue {
  background-color: blue; }

.bg-green {
  background-color: green; }

.bg-red {
  background-color: red; }

.bg-yellow {
  background-color: yellow; }

.bg-purple {
  background-color: purple; }

.bg-cyan {
  background-color: cyan; }

.bg-pink {
  background-color: pink; }

.bg-white {
  background-color: white; }

.bg-head {
  width: 100%;
  height: auto;
  background-image: url(../images/header.jpeg);
  background-position: center;
  background-size: cover; }

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto; }

h1, h2, h3, .h3-1, .h3-2, .h3-3 {
  align-self: center;
  text-align: center;
  padding: 5px 5px 5px 5px; }

li {
  list-style: none; }

.h3-1, .h3-2, .h3-3 {
  color: black; }
  .h3-1:hover, .h3-2:hover, .h3-3:hover {
    color: purple; }

#grid > nav {
  grid-area: nav; }

#grid > header {
  grid-area: head; }

#grid > #actu {
  grid-area: actu; }

#grid > form {
  grid-area: form; }

#grid > footer {
  grid-area: foot; }

#grid {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 20% 20% 10% 10% 20% 20%;
  grid-row-gap: 5px;
  grid-template-rows: auto;
  grid-template-areas: "nav nav nav nav nav nav" "head head head head head head" "actu actu actu actu actu actu" "form form form form form form" "foot foot foot foot foot foot"; }

.row {
  display: flex;
  flex-direction: row;
  align-items: center; }

.item {
  padding: 5px;
  margin: 5px; }

nav > img {
  width: 50%;
  height: auto;
  grid-area: nav-logo; }

nav > h1 {
  grid-area: t-nav; }

nav > ul {
  grid-area: ul-nav; }

.btn-nav {
  grid-area: nav-;
  width: 20vh;
  height: auto;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: solid 2px blue; }
  .btn-nav:hover {
    background-color: #d2d0dd;
    border-radius: 10px; }
  .btn-nav:active {
    border-radius: 10px;
    color: white;
    background-color: black; }

#grid > nav {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 5% 20% 20% 10% 20% 20% 5%;
  grid-template-rows: 7vh;
  grid-template-areas: ". nav-logo t-nav . ul-nav nav-btn ."; }

header > h1 {
  grid-area: t-header; }

header > h3 {
  grid-area: histo; }

#grid > header {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 7vh 1fr;
  grid-template-areas: " . t-header  . " " . histo . "; }

#actu > h1 {
  grid-area: t-actu; }

#actu > .card-a {
  grid-area: a; }

#actu > .card-b {
  grid-area: b; }

#actu > .card-c {
  grid-area: c; }

#grid > actu {
  display: grid;
  width: 100%;
  height: auto;
  grid-column-gap: 5px;
  grid-template-columns: 15px 1fr 1fr 1fr 15px;
  grid-template-rows: auto;
  grid-template-areas: ". . t-actu . ." ". a b c ."; }

.card > img {
  padding: 5px 5px 5px 5px;
  justify-items: center;
  align-self: center;
  width: 100%;
  height: auto;
  grid-area: img; }

.card > h2 {
  background-color: white;
  color: blue;
  grid-area: title; }

.card > h3 {
  background-color: white;
  color: blueviolet;
  grid-area: desc; }

.card > h4 {
  background-color: white;
  grid-area: date; }

#actu > .card {
  display: grid;
  width: 100%;
  height: auto;
  grid-column-gap: 5px;
  grid-template-columns: 5px 1fr 1fr 1fr 5px;
  grid-row-gap: 5px;
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-areas: " . img img img ." ". title title . . " ". desc desc desc ." " . . . date ."; }

/*# sourceMappingURL=style.css.map */
